.container {
  margin-top: 5rem;
  width: 30rem;
}

.clickSelect {
  display: flex;
  background-color: white;
  height: 10rem;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  width: 30rem;
}

.clickSelectInput {
  display: flex;
  background-color: white;
  height: 10rem;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  position: relarive;
  width: 30rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
}
