.card {
  background-color: white;
  height: 5rem;
  border-radius: 10px;
  position: relative;
  border: solid 1px black
}

.close {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: white;
  border-radius: 15px;
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
  height: 5rem;
  width: 100%;
}